<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e1f7d0d-626b-41df-87af-6bf755f3e30d" Alias="Alert Type" Level="1">
  <Info>
    <Name>Alert Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Information"
    },
    {
      "id": 2,
      "value": "Warning"
    },
    {
      "id": 3,
      "value": "Alert"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>