<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8d11894-f763-475d-a6a5-c87e8157cd7d" Alias="Background position" Level="1">
  <Info>
    <Name>Background position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 5,
      "value": "Left"
    },
    {
      "id": 6,
      "value": "Center"
    },
    {
      "id": 7,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>